---
import Layout from '../layouts/Layout.astro';
import EnhancedHero from '../components/EnhancedHero.astro';
import DebtReliefForm from '../components/DebtReliefForm.astro';
import BenefitsSection from '../components/BenefitsSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import CTASection from '../components/CTASection.astro';
import TrustIndicators from '../components/TrustIndicators.astro';
---

<Layout title="Break Free From Credit Card Debt - Save Up To 50% | Debt Freedom Toolkit">
    <div class="brand-header flex items-center justify-center mb-8 animate-fade-in">
        <a href="/" class="text-center inline-block">
            <span class="text-primary font-bold text-2xl">Debt Freedom Toolkit</span>
        </a>
    </div>
    
    <EnhancedHero />
    <TrustIndicators />
    <BenefitsSection />
    <TestimonialsSection />
    <DebtReliefForm />
    <CTASection />
</Layout>
