---
import Layout from '../layouts/Layout.astro';
import DebtReliefHero from '../components/DebtReliefHero.astro';
import DebtReliefForm from '../components/DebtReliefForm.astro';
import DarkModeTest from '../components/DarkModeTest.astro';
---

<Layout title="Break Free From Credit Card Debt - Save Up To 50% | Debt Freedom Toolkit">
    <div class="flex items-center justify-center mb-10">
        <a href="/" class="text-center inline-block">
            <span class="text-[#42a5b2] font-bold text-xl">Debt Freedom Toolkit</span>
        </a>
    </div>
    
    <DebtReliefHero />
    <DarkModeTest />
    <DebtReliefForm />
</Layout>
